// colors
$color-main: #107e7d;
$color-grad-1: #288b8a;
$color-grad-2: #0b5858;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: #f2efee;
$color-grey-light-3: #d3c7c3;
$color-grey-dark-1: #615551;
$color-grey-dark-2: #918581;

$gradient: linear-gradient(to right top, $color-grad-1, $color-grad-2);
$gradient-2: linear-gradient(to left bottom, $color-grad-1, $color-grad-2);