.pagination {
  align-self: stretch;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  position: relative;
  margin-bottom: 3rem;

  &__btn--next {
    margin-left: auto;
  }

  &__btn--prev {
    margin-right: auto;
  }

  &__info {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-main;
    padding: 0.8rem 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.1rem;
  }

  &__current-page {
    font-size: 1.4rem;
  }
}
