.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.4);
  z-index: 999;
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}

.add-recipe-window {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(#000, 0.25);
  transition: all 0.5s;

  @include media(bp-740px) {
    width: 100%;
    padding: 2rem 3rem;
  }
}

.btn__close-window {
  color: $color-main;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

.upload {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  @include media(bp-740px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__field {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    align-items: center;
    gap: 1.5rem;

    @include media(bp-740px) {
      grid-template-columns: 1fr;
    }

    & label {
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit;
      @include media(bp-740px) {
        display: none;
      }
    }

    & input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &::placeholder {
        color: $color-grey-light-3;
      }

      &:focus {
        outline: none;
      }

      &:focus:valid {
        border-color: $color-main;
        background-color: $color-grey-light-1;
      }

      &:focus:invalid {
        border-color: #f38e82;
      }
    }
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
