.header {
  background-color: $color-grey-light-1;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(bp-740px) {
    flex-wrap: wrap;
    padding: 2rem;
  }

  &__logo {
    height: 4rem;
    display: block;
  }
}

.search {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  transition: all 0.3s;
  padding-left: 3rem;

  @include media(bp-740px) {
    width: 100%;
    order: 1;
    margin-top: 2rem;
  }

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    @include media(bp-740px) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  &__btn {
    & > * {
      transition: all 0.3s;
    }

    @include media(bp-740px) {
      align-self: stretch;
    }

    &:hover {
      transform: scale(1.05);

      & > * {
        transform: scale(1.05);
      }
    }
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-main;
  }
}

.bookmarks {
  position: absolute;
  z-index: 20;
  background-color: #fff;
  width: 40rem;
  right: -2.5rem;
  padding: 2rem 0 1rem;
  border-radius: 0 0 0 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
  transform: translateX(100%);

  @include media(bp-740px) {
    top: 13rem;
  }

  &__list {
    list-style: none;
    margin-top: 2.5rem;
  }

  .heading--2 {
    margin-bottom: 1.5rem;
  }

  li {
    border-bottom: none;
  }

  &__open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-main;
    cursor: pointer;
    border: none;
    background: none;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__clear {
    position: absolute;
    top: 2.3rem;
    left: 2.5rem;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }

    &:focus {
      outline: none;
    }
  }
}
