.recipe {
  grid-column: 2 / 3;
  background-color: $color-grey-light-1;
  position: relative;

  @include media(bp-740px) {
    position: absolute;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    z-index: 9999;
  }

  &__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 100;
    border: none;
    background-image: $gradient;
    color: #fff;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2rem 4rem rgba(#000, 0.35);
    visibility: hidden;
    pointer-events: none;

    @include media(bp-740px) {
      visibility: visible;
      pointer-events: auto;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0px);
    }
  }

  &__figure {
    height: 32rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $gradient;
      opacity: 0.4;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.95;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    width: 70%;

    span {
      background-image: $gradient;
      padding: 1.3rem 2rem;
      box-decoration-break: clone;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    padding: 7.5rem 8rem 3.5rem;

    @include media(bp-740px) {
      padding: 5rem 2.5rem 3rem;
    }
  }

  &__info {
    font-size: 1.65rem;
    display: flex;
    align-items: center;
    gap: 1.15rem;
  }

  &__info-icon {
    width: 2.35rem;
    height: 2.35rem;
    fill: $color-main;
  }

  &__info-buttons {
    display: flex;
    gap: 0.4rem;
    margin-left: -2.5rem;
    transform: translateY(1px);
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1.75rem;
  }

  &__user-generated {
    background-color: darken($color-grey-light-1, 2%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    svg {
      width: 2.25rem;
      height: 2.25rem;
      fill: $color-main;
    }
  }

  &__ingredients {
    background-color: $color-grey-light-2;
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(bp-740px) {
      padding: 3rem 4rem;
    }
  }

  &__ingredients-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2.5rem;

    @include media(bp-740px) {
      column-gap: 2.5rem;
      row-gap: 2rem;
    }
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-main;
    flex: 0 0 auto;
    margin-right: 1.1rem;
    margin-top: 0.3rem;
  }

  &__quantity {
    flex: none;
    margin-right: 0.5rem;
  }

  &__directions {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(bp-740px) {
      padding: 3rem 4rem;
    }

    &-text {
      font-size: 1.7rem;
      color: $color-grey-dark-2;
      text-align: center;
      margin-bottom: 3.5rem;
    }
  }

  &__publisher {
    font-weight: 700;
  }
}

.recipe-open {
  left: 0;
  opacity: 1;
  visibility: visible;
}
