.search__results {
  grid-column: 1 / 2;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(bp-740px) {
    padding: 0;
    padding-bottom: 3rem;
  }
}

.results {
  list-style: none;
  align-self: stretch;
}

.copyright {
  font-size: 1.2rem;
  margin-top: 3.5rem;

  @include media(bp-740px) {
    font-size: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-main;
    }
  }
}
